{
  "presets": [
    ["env", {
      "modules": false,
      "targets": {
        "browsers": ["> 1%", "last 2 versions", "not ie <= 9"]
      }
    }],
    "stage-2"
  ],
  "plugins": [
    "transform-vue-jsx",
    "transform-runtime",
    "babel-plugin-transform-async-to-generator",
    "babel-plugin-external-helpers",
    "babel-plugin-transform-decorators-legacy",
    "babel-plugin-transform-class-properties",
    ["component", [
      {
        "libraryName": "element-ui",
        "styleLibraryName": "theme-chalk"
      }
    ]]
  ]
}
